.matches-filter {
    margin-bottom: 1em;
    background: #3eb650;
}

.matches-filter ul {
    padding: 5px;
}

.matches-filter li {
    display: inline;
    padding: 0 25px
}

.matches-filter li label {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}