.notifications-button {
    position: relative;
    overflow: visible;
    
    cursor: pointer;
}

.notifications-count {
    display: none;
    
    position: absolute;
    top: -12px;
    right: -10px;
    width: 30px;
    height: 25px;
    padding-top: 5px;
    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1;

    background-color: #da3225;
    color: #fff;

    border-radius: 50%;
}

.notifications {
    position: relative;
}

.notifications-content {
    display: none;
    max-height: 400px;
    overflow-y: scroll;

    position: absolute;
    top: 60px;
    right: -10px;
    width: 400px;

    background-color: #eee;
    color: #000000;

    z-index: 2;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    margin: 5px;
}

.notification:hover {
    cursor: pointer;
    background-color: #3eb650;
}